body {
    display: flex;
    height: 100vh;
    background-color: white;
    margin: 0px;
}

.sidebar {
    width: 200px;
    background: #B22423;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

.sidebar .logo {
    width: 150px;
    height: 150px;
    background-image: url('Photos/logo.png');
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 36px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    background-color: #D9C6B2;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar button i {
    font-size: 20px;
}

#first {
    font-size: 15px;
    width: 70px;
    padding: 4px;
    margin-top: 250px;
    border-radius: 0;
}

.main-content {
    flex: 1;
    background-image: url('Photos/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: white;
    max-height: 5000px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.header{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: 10px;  
    margin-bottom: 20px;
}

.header h1 {
    font-size: 26px;
    margin: 0;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.search-bar {
    display: flex;
    width: 72.2%;
    padding: 0px;
    font-size: 18px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.search-bar input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
    outline: none;
}

.search-bar button {
    width: 8%;
    border: 2px solid black;
    cursor: pointer;
}

.card-container {
    background-color: #fff4f0 ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 20px;
    border: 2px solid black;
    max-width: 1206px;
}

.card {
    background: linear-gradient(to bottom, #8B0000, #d2a6a6);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.details-btn {
    background-color: #6abf69; 
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.actions {
    margin-top: 10px;
}

.approve, .decline {
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.approve {
    background-color: green;
    color: white;
}

.decline {
    background-color: red;
    color: white;
    font-weight: bold;
}